.cell-wrapper {
  display: flex;
  width: 10vw;
  height: 10vw;
  max-width: 50px;
  max-height: 50px;
  background-color: #fff;
  border: 2px solid #666;
  cursor: pointer;
  justify-content: center;
  align-items: center; }
  .cell-wrapper:hover {
    background-color: #f4cb42; }
  .cell-wrapper h1 {
    font-weight: 100;
    font-size: 3vw; }

@media (min-width: 748px) {
  .cell-wrapper h1 {
    font-size: 28px; } }

.current-cell {
  background-color: #73bc5a; }

.fixed-cell {
  background-color: #ddd;
  cursor: default; }
  .fixed-cell:hover {
    background-color: #ddd; }

.left-border {
  border-left: 6px solid #666; }

.right-border {
  border-right: 6px solid #666; }

.top-border {
  border-top: 6px solid #666; }

.bottom-border {
  border-bottom: 6px solid #666; }
