$selector-background-color: #fff;
$selector-left-border-color: #666;
$selector-hover-color: #f4cb42;

.selector-wrapper {
  position: fixed;
  top: 0;
  width: 20vw;
  height: 100vh;
  background-color: $selector-background-color;
  border-left: 2vw solid $selector-left-border-color;
  border-right: 0px;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;

  .selector-cell {
  	display: flex;
    height: 10vh;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    &:hover {
	  background-color: $selector-hover-color;
	}

    h1 {
      font-size: 3vw;
      font-weight: 100;
    }
  }
}

@media (min-width: 748px) {
  .selector-wrapper {
  	.selector-cell {
	   h1 {
	     font-size: 28px;
	   }
	}
  }
}

.selector-hidden {
  right: -22vw;
}

.selector-show {
  right: 0vw;
}